.div {
	box-sizing: border-box;
	position: relative;
	display: block;
	margin: 1rem auto 0;
	height: 1rem;
	width: 50%;
	min-width: 300px;
	max-width: 400px;
}

.label {
	box-sizing: border-box;
	position: relative;
	display: block;
	top: 0.75rem;
	left: 0.75rem;
	transition: all 0.1s;
	text-align: left;
	width: max-content;
	border-radius: 5px;
	padding: 0.1rem 0.3rem;
}

.up {
	z-index: 1;
	background-color: white;
	color: black;
	font-size: 0.8rem;
	top: 0.4rem;
}

.down {
	color: #adadad;
	top: 1.75rem;
	font-size: 1rem;
}

.redLabel {
	color: red;
}

.inactiveLabel {
	color: #777;
	background-color: #efefef;
}

.textarea {
	box-sizing: border-box;
	position: relative;
	display: block;
	height: 10rem;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	outline: none;
	background-color: transparent;
	border: 1px solid #bbb;
	transition: all 0.1s;
	width: 50%;
	min-width: 300px;
	margin: 0 auto;
	border-radius: 3px;
	max-width: 400px;
	padding: 1rem;
	font-size: 16px;
	resize: none;
}

.focusTextarea {
	border: 1px solid black;
}

.redTextarea {
	border: 1px solid red;
}

.inactiveTextarea {
	border-color: #adadad;
	color: #777;
	background-color: #efefef;
	pointer-events: none;
	z-index: -1;
}

.message {
	box-sizing: border-box;
	position: relative;
	display: block;
	font-size: 0.75rem;
	width: 50%;
	min-width: 300px;
	margin: 0 auto;
	padding: 0;
	max-width: 400px;
	text-align: left;
	color: black;
	top: -0.2rem;
	left: 1.1rem;
	height: 1rem;
}

.redMessage {
	color: red;
}
