.Link {
	position: relative;
	text-decoration: none;
	display: block;
	width: max-content;
	height: max-content;
	padding: 0;
	margin: 3rem auto 4rem auto;
}

.section {
	position: relative;
	height: max-content;
	width: 90vw;
	max-width: 400px;
	overflow: hidden;
	box-shadow: var(--shadow);
}

.img {
	width: 100%;
	transition: width 0s;
}

.title,
.subtitle {
	text-align: center;
	max-width: 90%;
}

.title {
	margin: 0 auto;
}

.subtitle {
	margin: 2rem auto 3rem auto;
}

/* Medium-size screens */
@media (min-width: 800px) {
	.Link {
		margin: 3rem 0 4rem 0;
	}

	.section {
		max-width: none;
		height: 400px;
	}
	.img {
		position: absolute;
		z-index: -1;
		right: 25px;
		top: 50%;
		transform: translateY(-50%);
		width: 100px;
	}

	.topDiv {
		position: absolute;
		height: 100%;
		display: flex;
		flex: none;
		flex-direction: column;
		justify-content: center;
		transition: width 0.2s;
		overflow: hidden;
		width: calc(100% - 150px);
	}

	.title {
		text-align: left;
		margin-left: 2rem;
		max-width: none;
	}

	.subtitle {
		text-align: left;
		margin: 0 2rem;
		max-width: none;
	}
}

/* Large screens */
@media (min-width: 1000px) {
	.img {
		width: 150px;
		transition: width 0.2s;
	}

	.topDiv {
		width: calc(100% - 25px);
	}

	.section:hover .topDiv {
		width: calc(100% - 200px);
	}
}

/* Color styling (based on props) */
@media (min-width: 800px) {
	.whitetext h3,
	.whitetext h4 {
		color: white;
	}

	.purple {
		background-color: #60399d;
	}

	.cream {
		background-color: rgb(252, 248, 233);
	}

	.blue {
		background-color: #173dde;
	}

	.lightgray {
		background-color: #f3f3f3;
	}

	.lightgreen {
		background-color: #d8e9d4;
	}
}

/* Styling for right-aligned projects -- Medium-Sized Screens */
@media (min-width: 800px) {
	.Link.rightalign {
		left: 10%;
	}

	.rightalign .title,
	.rightalign .subtitle {
		text-align: right;
		margin: 0 2rem 0 0;
	}

	.rightalign .topDiv {
		left: unset;
		right: 0;
	}

	.rightalign .img {
		left: 25px;
	}
}
