.Container {
	margin: 0 auto;
	width: 125px;
	height: 125px;
	position: relative;
	-webkit-perspective: 300px;
	perspective: 300px;

	&:focus {
		outline: 0;
	}

	&:hover,
	&:focus {
		.InnerContainer {
			transform: rotateY(180deg);
		}
		.CardBack {
			box-shadow: var(--shadow);
			transform: rotateY(180deg) translateY(-0.5rem);
		}
	}
}

.InnerContainer {
	position: relative;
	transition: transform 0.4s ease;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

.CardFront,
.CardBack {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	// how long to become visible when entering
	transition: 1s ease;
	transform: translateY(30px);
	opacity: 0;
}

.Visible {
	opacity: 1;
	transform: translateY(0);
}

.CardFront {
	img {
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
	}
}

.CardBack {
	// pre-flipped
	transform: rotateY(180deg);
	transition: box-shadow 0.4s ease, transform 0.2s ease;
	p {
		width: 90%;
		text-align: center;
	}
}
