.Container {
	height: max-content;
	width: max-content;

	button {
		margin: 2rem auto;
	}
}

.MazeContainer {
	width: 90vw;
	max-width: 800px;
	height: 90vw;
	max-height: 800px;

	canvas {
		height: 100%;
		width: 100%;
	}
}
