.h1 {
	width: max-content;
	text-align: center;
	margin: 4rem auto 2rem auto;
	background-color: white;
}

.h2 {
	text-align: center;
	margin: 2rem auto;
	background-color: white;
}

.h2 span {
	display: block;
	font-size: 20px;
}

.h3,
.p {
	width: 90%;
	max-width: 600px;
	margin: 2rem auto;
	background-color: white;
}

a,
.Link {
	text-decoration: none;
	width: max-content;
	height: max-content;
}

.trueLink {
	text-decoration: underline;
}

.center {
	width: max-content;
	margin: 3rem auto;
}

.flex {
	width: 75%;
	min-width: 300px;
	max-width: 600px;
	display: flex;
	flex: none;
	justify-content: space-evenly;
}

.flex button {
	margin: 0;
}

.panel {
	width: 100vw;
	margin: 2rem auto;
	display: flex;
	flex: none;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-end;
}
.panel a {
	overflow: hidden;
	box-shadow: var(--shadow);
	margin: 1rem;
}

.panel img {
	display: block;
	position: relative;
	width: 25vw;
	min-width: 300px;
}

/* Hover animations */
@media (min-width: 800px) {
	.h2 span {
		font-size: 30px;
	}

	.panel a:after {
		position: absolute;
		z-index: 1;
		content: 'See Live';
		width: 25vw;
		min-width: 300px;
		text-align: center;
		font-size: 25px;
		font-weight: 300;
		opacity: 0;
		transition: opacity 0.2s;
	}

	.panel a:hover:after {
		opacity: 1;
	}
}

.hero {
	object-fit: cover;
	width: 100%;
	margin: 2rem auto;
	box-shadow: var(--shadow);
}

.heroBigger {
	composes: hero;
}

@media (min-width: 800px) {
	.hero {
		max-height: 500px;
	}

	.heroBigger {
		max-height: 750px;
	}
}

.showLink {
	text-decoration: underline;
}
