.ArticleSubtitle {
	text-align: center;
	margin: 2rem auto;
	background-color: white;

	span {
		display: block;
		font-size: 20px;
	}
}

@media (min-width: 800px) {
	.ArticleSubtitle span {
		font-size: 30px;
	}
}
