.header {
	top: 0;
	position: fixed;
	z-index: 2;
	width: 100vw;
	height: 3rem;
	background-color: white;
}

.nav {
	height: 3rem;
	text-transform: uppercase;
}

.ul {
	position: relative;
	list-style: none;
	display: flex;
	flex: none;
	justify-content: center;
	height: 3rem;
}
.li {
	position: relative;
	height: 3rem;
	display: block;
	display: flex;
	align-items: center;
	margin: 0 1rem;
}

.nav .li a {
	text-decoration: none;
}
.nav .li a:hover {
	text-decoration: underline;
}

.rolloutMenu {
	position: relative;
	left: 0;
	background-color: white;
	height: max-content;
	visibility: hidden;
	text-transform: none;
	box-shadow: var(--shadow);
}

.portfolio {
	visibility: visible;
	text-transform: uppercase;
}

@media (min-width: 800px) {
	.rolloutMenu:hover {
		visibility: visible;
	}
}

.isActive {
	color: gray;
}
