.Maze {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	max-width: 1000px;
	height: 100vw;
	max-height: 1000px;
	opacity: 0.2;
	mask-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255, 1));
	-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255, 1));

	canvas {
		height: 100%;
		width: 100%;
	}
}

/* General Font Sizing: --alternative sizes for Portfolio page only*/
.container .titleContainer {
	position: relative;
	padding-top: 125px;
}

.container {
	width: 100vw;
	overflow-x: hidden;
}

.container h1 {
	font-size: 3.5rem;
	max-width: 90%;
	text-align: center;
	margin: 150px auto 3rem auto;
	font-weight: 200;
	text-transform: uppercase;
}

.subtitle {
	font-size: 35px;
	font-weight: 200;
	text-transform: lowercase;
	text-align: center;
	margin: 2rem auto;
	width: 90%;
	line-height: 1.25;
}

.Link {
	text-decoration: none;
}

.buttonContainer {
	width: 100vw;
}

.buttonContainer button {
	margin: 0 auto;
}

.container button {
	margin: 5rem auto 0 auto;
}

/* My Work, Skills, etc. */
.container h2 {
	font-size: 50px;
	font-weight: 200;
	text-transform: none;
	margin-top: 150px;
	text-align: center;
}

/* Project Card Title */
.container h3 {
	font-size: 35px;
	font-weight: 200;
	text-align: center;
	margin-top: 2.5rem;
}

.code {
	font-size: 10px;
	font-weight: 200;
}

/* Project Card Description */
.container h4 {
	font-size: 25px;
	font-weight: 400;
	text-transform: lowercase;
}

.skills ul {
	margin-bottom: 125px;
}

.container li {
	font-size: 20px;
	font-weight: 300;
	list-style: none;
	text-align: center;
	margin: 1.5rem auto;
}

@media (min-width: 800px) {
	.container .titleContainer {
		padding-top: 10vw;
		width: 85%;
		left: 15%;
	}

	.buttonContainer {
		width: max-content;
		margin: 3rem 0 0 0;
	}

	.container h1 {
		margin: 175px auto 3rem auto;
		font-size: 75px;
		font-weight: 200;
	}

	.container h2 {
		font-size: 4rem;
		font-weight: 200;
		text-transform: none;
	}

	.container h3 {
		font-size: 3rem;
		font-weight: 300;
		margin-top: 4rem;
	}

	.container h4 {
		font-size: 2rem;
		font-weight: 200;
	}

	/* Skills titles: Code, Testing, Design, etc. */
	.container .skills h3 {
		font-size: 3rem;
		font-weight: 200;
	}

	.container li {
		font-size: 30px;
	}
}
