.decoration1__1,
.decoration1__2,
.decoration1__3,
.decoration2__1,
.decoration2__2,
.decoration2__3,
.decoration3__1,
.decoration3__2,
.decoration3__3 {
	position: relative;
	z-index: -1;
	content: '';
	background-color: gray;
	height: 1px;
	opacity: 0;
	transition: opacity 1s;
}
/* Section 1 */

.decoration1__1 {
	left: 0vw;
	top: 115px;
	width: 15vw;
}

.decoration1__2 {
	top: 500px;
	width: 10vw;
	left: 90vw;
}

.decoration1__3 {
	top: 530px;
	width: 20vw;
	left: 80vw;
}

@media (min-width: 1000px) {
	.decoration1__1,
	.decoration1__2,
	.decoration1__3,
	.decoration2__1,
	.decoration2__2,
	.decoration2__3,
	.decoration3__1,
	.decoration3__2,
	.decoration3__3 {
		opacity: 1;
	}
}
